### 41 여행 계획

In [7]:
n,m = map(int,input().split())

graph_map = []
for i in range(n):
    graph_map.append(list(map(int,input().split())))

travel_list = list(map(int,input().split()))

5 4
0 1 0 1 1
1 0 1 1 0
0 1 0 0 0
1 1 0 0 0
1 0 0 0 0
2 3 4 3

In [19]:
graph_map

[[0, 1, 0, 1, 1],
 [1, 0, 1, 1, 0],
 [0, 1, 0, 0, 0],
 [1, 1, 0, 0, 0],
 [1, 0, 0, 0, 0]]

In [26]:
travel_list

[2, 3, 4, 3]

In [25]:
curr = travel_list[0]
for i in range(1,m-1):
    now = travel_list[i]
    if graph_map[curr-1][now-1] != 0:
        curr = travel_list[i]
    else:
        print("NO")
        break

NO

In [23]:
graph_map[2-1]

[1, 0, 1, 1, 0]

In [28]:
#특정 원소가 속한 집합을 찾기
def find_parent(parent,x):
    #루트 노드가 아니라면, 루트 노드를 찾을 때까지 재귀적으로 호출
    if parent[x] != x:
        parent[x] = find_parent(parent, parent[x])
    return parent[x]

#두 원소가 속한 집합을 찾기
def union_parent(parent, a, b):
    a = find_parent(parent,a)
    b = find_parent(parent,b)
    if a < b:
        parent[b] = a
    else:
        parent[a] = b
    
#여행지의 개수와 여행 계획에 속한 여행지의 개수 입력받기
n,m = map(int, input().split())
parent = [0]*(n+1) #부모테이블 초기화

#부모 테이블상에서 부모를 자기 자신으로 초기화
for i in range(i, n+1):
    parent[i] = i
    
#union 연산을 각각 수행
for i in range(n):
    data = list(map(int, input().split()))
    for j in range(n):
        if data[j] == 1: #연결된 경우 union 연산 수행
            union_parent(parent, i+1, j+1)
    
#여행 계획 입력받기
plan = list(map(int, input().split()))

result = True
#여행 계획에 속하는 모든 노드의 루트가 동일한지 확인
for i in range(m-1):
    if find_parent(parent, plan[i]) != find_parent(parent, plan[i+1]):
        result = False

#여행 계획에 속하는 모든 노드가 서로 연결되어 있는지(루트가 동일한지) 확인
if result:
    print("YES")
else:
    print("NO")

5 4
0 1 0 1 1
1 0 1 1 0
0 1 0 0 0
1 1 0 0 0
1 0 0 0 0
2 3 4 3
YES

### 42. 탑승구